.newupdate p{
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}
.newupdate a{
    text-decoration-line: none;
    color:rgb(16, 11, 156);
    font-size: 20px;
    font-weight: bold;
    margin-left: 2%;
}
#anhbia{
    width: 200px;
    height: 280px;
    /* border: 1px solid rgb(20, 1, 1); */
    margin-left: 20px;
}

